:host {
    position: absolute;
    background-color: white; /* your overlay */
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 37.4%;
    height: 28.6%;
    width: 67%;
}
p{
    color: black;
}
.Main-screen{
    height: auto;
    width: auto;
}


