
:host {
    display: block;
    width: 100%;
    height: 14.3%;  /*fills whatever the parent gives it*/ 
}

.status-bar{
    background-color: #252525;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin-bottom: .8%;

}
.status-bar::before { 
    /* handles the lights of the header */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        /* W,H,x,y */
        ellipse 90% 70% at 50% 0%, 
        rgba(255,255,255,.55) 0%,
        rgba(255,255,255,0.05) 90%,
        rgba(255,255,255,0.02) 100%
    );
    pointer-events: none;
}

.status-bar::after {
    /* handles the granyness */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    mix-blend-mode: luminosity;  /* ← strips any color from grain */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='grain'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='4' stitchTiles='stitch'/%3E%3CfeColorMatrix type='saturate' values='0'/%3E%3C/filter%3E%3Crect width='200' height='200' filter='url(%23grain)'/%3E%3C/svg%3E");
    /* background-repeat: repeat; */
    z-index: 1;
    pointer-events: none;
}

.connectivity{
    display: flex;
    align-items: center;
    height: 100%;
}
.connectivity img.wifi{
    height: 100%;
}

.connectivity img.bluetooth{
    height: 63.5%;
}

/* this need to be width of 29% of the entire header */
.status-info {
    position: relative;
    z-index: 2;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    width: 29%;
    height: 100%;
}
.status{
    container-type: inline-size;
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Time {
    height: 45%;
    width: 100%;
    font-size: 30cqw;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.Date {
    height: 45%;
    width: 100%;
    font-size: 21cqw;
    line-height: 1.5;
    /* opacity: 0.85; */
}

.battery-info{
    height: 100%;
    width: 34.5454%;
}
.battery{
    height: 100%;
}
