<header class="status-bar">
    <div class="connectivity">
        <img src="wifi_connect.png" #wifi class="wifi">
        <img src="bluetooth.png" #bluetooth class="bluetooth">
    </div>
    <div class="status-info">
        <div class="status">
            <span class="Time"> {{currentTime}}</span>
            <span class="Date"> {{currentDate}}</span>
        </div>
        <div class="battery-info">
            <div class="battery">
                p
            </div>
        </div>
    </div>
    
</header>