<div class="main" #main>
    <div class="Terminal-container"> 
        <img src="Link-2500.png" class="Link-Terminal" #linkImg
        (load)="onimgLoad()"
        >
        @if (isLoaded){
            <div class="Terminal-area" >
                <router-outlet class="Screen"></router-outlet>
            </div>
           
            <div class="Terminal-Pin-Pad">
                <app-pin
                    [buttons]="buttons"
                    [fButtons]="fButtons"
                    [showFRow]="true"
                    [Keymode]="keyMode"
                    [Backmode] = "backMode">

                </app-pin>
                <!-- <app-Pinpad [showFKey]="true"></app-Pinpad> -->
            </div>
        }
        
    </div>
</div>