
<app-header></app-header>
<div class="main-manue-screen scrollversion1 #scrollContainer">
    <app-option-button label="Control panel" route="Control-Panel"></app-option-button>
    <app-option-button label="TSA" route="TSA"></app-option-button>
    <app-option-button label="Tetra Admin" route="Tetra-Admin"></app-option-button>
    <app-option-button label="TDA" route="TDA"></app-option-button>
    <app-option-button label="8460370201" route="8460370201"></app-option-button>
    <app-option-button label="CAV-DEV" route="CAV-DEV"></app-option-button>
    <app-option-button label="FormMgrSrvc" route="FormMgrSrvc"></app-option-button>
    <app-option-button label="WIC" route="WIC"></app-option-button>
</div>


