:host {
    position: absolute;
    background-color: blue; 
    color: white;
    margin-top: 37.4%;
    height: 28.6%;
    width: 67%;
}
.reboot_main{
    height: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
}