.pinpad-main{
    height: 41.5%;
}
.pinpad-container{
    height: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.F-container{
    display: grid;
    height: 7%;
    width: 74%;
    /* this is going to be the size of the button */
    grid-template-columns: 17% 17% 17% 17%;
    column-gap: 10.5%;
    
}
.F-container button{
    background-color: transparent;
    color: white;
}

.num-container{
    display: grid;
    /* this is going to be the size of the button */
    grid-template-rows: 19% 19% 19% 19%; 
    grid-template-columns: 21% 21% 21% 21%;
    height: 84%;
    width: 80%;
    row-gap: 7.5%;
    column-gap: 5.5%;
}

.num-container button{
    background-color: transparent;
    color: white;
}



