<div class="pinpad-main">
    <div class="pinpad-container">
        <div class="F-container">
            <button type="button">F1</button>
            <button type="button">F2</button>
            <button type="button">F3</button>
            <button type="button">F4</button>
        </div>
    <div class="num-container">
        <div class="row-1">
            <button type="button">1</button>
            <button type="button">2</button>
            <button type="button">3</button>
            <button type="button">F</button>
        </div>
        
        <div class="row-2">
            <button type="button">4</button>
            <button type="button">5</button>
            <button type="button">6</button>
            <button type="button">X</button>
        </div>
        
        <div class="row-3">
            <button type="button">7</button>
            <button type="button">8</button>
            <button type="button">9</button>
            <button type="button"><</button>
        </div>

        <div class="row-4">
            <button type="button">+</button>
            <button type="button">0</button>
            <button type="button">-</button>
            <button type="button">O</button>
        </div>
        
    </div>
    </div>
</div>
