<div class="pinpad-main">
    <div class="pinpad-container">
        <div class="F-container">
            <button type="button">F1</button>
            <button type="button">F2</button>
            <button type="button">F3</button>
            <button type="button">F4</button>
        </div>
    <div class="num-container">
        <div class="row-1">
            <button type="button" (click)="onClick('1')">1</button>
            <button type="button" (click)="onClick('2')">2</button>
            <button type="button" (click)="onClick('3')">3</button>
            <button type="button" (click)="onClick('F')">F</button>
        </div>
        
        <div class="row-2">
            <button type="button" (click)="onClick('4')">4</button>
            <button type="button" (click)="onClick('5')">5</button>
            <button type="button" (click)="onClick('6')">6</button>
            <button type="button" >X</button>
        </div>
        
        <div class="row-3">
            <button type="button" (click)="onClick('7')">7</button>
            <button type="button" (click)="onClick('8')">8</button>
            <button type="button" (click)="onClick('9')">9</button>
            <button type="button"><</button>
        </div>

        <div class="row-4">
            <button type="button">+</button>
            <button type="button" (click)="onClick('0')">0</button>
            <button type="button">.,#*</button>
            <button type="button">O</button>
        </div>
        
    </div>
    </div>
</div>
