.pinpad-main{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.F-container{
    display: flex;
    justify-content: space-evenly;
}
.num-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}
.row-1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}

.row-1 button{
    width: 10%;
}
.row-2{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.row-3{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.row-4{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
