<div class="pinpad-main">
    <div class="pinpad-container">
        <div class="F-container">
            <button type="button"></button>
            <button type="button"(click)="onclickup()"></button>
            <button type="button"(click)="onclickdown()"></button>
            <button type="button"></button>
        </div>
        <div class="num-container">
            <button type="button" (click)="onClick('1')"></button>
            <button type="button" (click)="onClick('2')"></button>
            <button type="button" (click)="onClick('3')"></button>
            <button type="button" (click)="onClick('F')"></button>

            <button type="button" (click)="onClick('4')"></button>
            <button type="button" (click)="onClick('5')"></button>
            <button type="button" (click)="onClick('6')"></button>
            <button type="button" ></button>
        
            <button type="button" (click)="onClick('7')"></button>
            <button type="button" (click)="onClick('8')"></button>
            <button type="button" (click)="onClick('9')"></button>
            <button type="button"></button>

            <button type="button">+</button>
            <button type="button" (click)="onClick('0')"></button>
            <button type="button"></button>
            <button type="button"></button>
            
            
        </div>
    </div>
</div>
