.pinpad-main{
    height: 42.5%;
}
.pinpad-container{
    height: 100%;
}

.F-container{
    display: flex;
    justify-content: space-evenly;
}
.num-container{
    display: grid;
    flex-wrap: wrap;
    height: 76%;
    align-items: center;
    margin-top: 3%;
}
.num-container div button{
    min-width: 42px;
    min-height: 26px;
    width: 17%;
    margin-left: 5%;
    height: 2%;
}

.num-container div{
    display: flex;
    justify-content: center;
}


