:host {
    position: absolute;
    background-color: brown; 
    color: white;

    margin-top: 37.4%;
    height: 28.6%;
    width: 67%;
}

.main-menu-screen {
    overflow-y: auto;
    overscroll-behavior: None;
    height: 82%;
    width: 100%;
    container-type: inline-size;
}