
<app-header></app-header>

<div class="main-menu-screen scrollversion1">
    <app-option-button label="Download Application" route=""></app-option-button>
    <app-option-button label="Set date and time" route=""></app-option-button>
    <app-option-button label="Configure Wifi" route=""></app-option-button>
    <app-option-button label="Configure Bluetooth" route=""></app-option-button>
    <app-option-button label="Configure Backlight" route=""></app-option-button>
    <app-option-button label="Screen Saver" route=""></app-option-button>
</div>