
<app-header></app-header>

<div class="main-menu-screen scrollversion1">
    <app-option-button label="Apps reports" route=""></app-option-button>
    <app-option-button label="Software mgmt" route=""></app-option-button>
    <app-option-button label="Terminal info" route=""></app-option-button>
    <app-option-button label="Terminal settings" route=""></app-option-button>
    <app-option-button label="CAV-DEV" route=""></app-option-button>
    <app-option-button label="Control panel" route=""></app-option-button>
    <app-option-button label="FormMgrSrvc" route=""></app-option-button>
    <app-option-button label="WIC" route=""></app-option-button>
</div>