<app-header></app-header>
<div class="main-menu-screen scrollversion1 #scrollContainer">
    <app-option-button label="Switch off" route="Switch-off"></app-option-button>
    <app-option-button label="Phone pairing" route="Phone-pairing"></app-option-button>
    <app-option-button label="Add peripherals" route="Add-peripherals"></app-option-button>
    <app-option-button label="Paired devices" route="Paired-devices"></app-option-button>
    <app-option-button label="Advance options" route="Advance-options"></app-option-button>
</div>